:root {
    --header: #96c5a6;
    --card: #fff;
    --background: #928adf;
}
::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    align-items: center;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Cabin", sans-serif;
    box-sizing: border-box;
    font-size: 14pt;
    background: var(--background);
}
main {
    display: grid;
    grid: none / 1fr 1fr;
    grid-auto-rows: min-content;
    width: 100dvw;
    height: 100dvh;
    overflow: auto;
    gap: 8dvh 20px;
    padding: 20px;
    box-sizing: border-box;
}

section {
    grid-column-start: span 2;
    display: contents;
    >div {
        background: var(--card);
        border-radius: 16px;
        padding: 20px;
        >div {
            margin-block: 12px;
        }
    }

}

.left {
    grid-column: 1;
}

.right {
    grid-column: 2;
}

header {
    position: sticky;
    top: 0;
    background: var(--background);
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;

    h1 {
        width: 50%;
    }
}

.tab {
    padding-left: 20px;
}